body{
    text-align: center;
    font-size: 18;
    background-color: tan;
}
.button{
    background: #654321;
    color:white;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}